@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
    background-color: #f9f9f9;
    color: #333;
  }
  
  body.dark {
    background-color: #1a202c;
    color: #f9f9f9;
  }
  
  button {
    transition: all 0.3s ease-in-out;
  }